/* Reset Default Styles */
* {
	font-family: Arial, Helvetica, sans-serif;
	padding:0; 
	margin: 5px 0px;
}

h3 {
    margin-top: 2em;
    background-color: #ffebdd;
    text-align: center;
}
/* p {
    text-indent: 30px;
} */

#container {
    width: 80%;
    /* background-color: orange; */
    margin: 5px auto;
}
header {
    margin: 5px 0px;
    background-color: #ecf7f5;
    text-indent: 2em;
}
header h1 {
    margin: 2px;
}
header p {
    margin: 2px;
}
nav {
    background-color: #00a8de;
    margin: auto;
}
nav ul {
    letter-spacing: -5px; /* For blank between two li  */
}
nav ul li {
    letter-spacing: normal; /* For blank between two li  */
    list-style-type: None;
    display: inline;
    padding: 0 20px;
    border-left: 1px solid #fff;
    margin: auto;
    font-size: 20px;
}
nav ul li:first-child {
    margin-left: 40px;
    border-left: #00a8de;
}
nav ul li a{
    text-decoration: None;
    color: #fff;
}
nav ul li:hover {
    background-color: #006889;
}
#index main section ul{
    text-align: center;
}
#index main section ul li {
    list-style-type: None;
    display: inline-block;
    margin-left: 20px;
    box-shadow: 3px 3px 5px #888;
    padding: 20px;
    /* background-color: green; */
    border: 2px solid #888;
    border-radius: 20px;
}
#index main section ul li img{
    border-radius: 20px;
    /* transform: scale(105%); */
}
#index main section ul li p {
    margin-top: 10px;
    margin-left: 20px;
}

/* Footer Area */

footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ffebdd;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}
footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: None;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}
footer #nondisclaimer .social .fa-instagram{
    background: #125688;
    color: white;
}

/* Footer Area End */

/* Table Section */
table {
    width: 1000px;
    margin: 1em auto 0 auto;
    text-align: center;
}
caption {
    background-color: #002734;
    height: 40px;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}
thead {
    font-weight: bold;
    background-color: #80d4ef;
}
tbody {
    background-color: #e6f6fc;
}
th,td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px #002734;
}
th:first-child {
    width: 125px;
    height: 50px;
    background-color: #00a8de;
    color: #fff;
}
td:first-child {
    font-weight: bold;
    background-color: #80d4ef;
}
/* Table Section End */

/* Photo Section in Adoption_Info page */

#adoption_Info #cat_Adoption_Photo{
    margin: 10px 20px;
}
#adoption_Info #cat_Adoption_Photo li {
    list-style-type: None;
    display: inline-block;
    margin: 10px;
}
/* #adoption_Info #cat_Adoption_Photo #photo1 {
    border: 1px solid #ffebdd;
} */
#adoption_Info #cat_Adoption_Photo li img{
    margin: 0px;
    /* border: 2px solid #ffebdd; */
}
#adoption_Info #cat_Adoption_Photo li .caption{
    display: block;
    text-align: center;
    background-color: #ffebdd;
    margin-top: 0px;
}
#adoption_Info #cat_Adoption_Photo li .description{
    float: left;
    position: relative;
    left: 20%;
    top: -170px;
    background-color: #ffebdd;
    opacity: 0.7;
    margin-top: 0px;
    padding: 10px;
    visibility: hidden;
}
#adoption_Info #cat_Adoption_Photo li img:hover ~.description{
    visibility: visible;
}
#adoption_Info #cat_Adoption_Photo li .description:hover {
    visibility: visible;
    cursor: pointer;
}

/* Photo Section in Adoption_Info page End*/

/* Form Section */
fieldset {
    border: 1px solid #00a8de;
}
legend {
    margin-left: 1em;
}
form label {
    display: block;
    margin-left: 1em;
    margin-bottom: 0px;
}
input {
    width: 500px;
    margin: 0 auto 1em 1em;
}
input[type="radio"] {
    width: 25px;
}
textarea {
    width: 500px;
}
input[type="submit"] {
    display: block;
    margin: 20px 0 10px 1em;
    width: 100px;
}
.contact_Method_Class {
    display: inline;
    margin-top: 5px;
    margin-left: 2px;
}
#contactMethodEmail {
    margin-left: 1em;
    margin-top: 5px;
}
#contactMethodPhone {
    margin-left: 1em;
    margin-top: 5px;
}
input[type="radio"] {
    margin-right: 1px;
}
.why_Volunteer {
    margin-top: 1em;
}
textarea {
    margin-left: 1em;
}
#contact_method {
    margin-left: 1em;
}
#contact_Info_Input {
    visibility: hidden;
}

/* Form Section - Adoption_info html */
input[type="checkbox"] {
    width: 25px;
    display: inline;
}
input[type="text"] {
    display: block;
    margin: 0px 0px 0px 1em;
    width: 500px;
}

/* Adoption_info html li senction */
#adoption_Info .adoptTips {
    list-style-type: None;
    display: inline-block;
    margin-left: 20px;
    box-shadow: 3px 3px 5px #888;
    padding: 20px;
    /* background-color: green; */
    border: 2px solid #888;
    border-radius: 20px;
}

/* Gallery Page Area */
#info_box {
    float: left;
    border: 1px solid #000;
    background-color: #002734;
    opacity: 0.7;
    width: 300px;
    height: 200px;
    position: absolute;
    visibility: hidden;
    padding: 10px;
    /* left: 50%;
    top: 50%; */
}
#info_box_heading {
    color: #fff;
    background-color: #002734;
    display: block;
    font-size: 24px;
    margin-bottom: 16px;

}
#info_box_p1 {
    display: block;
    color: #fff;
}
#info_box_p2 {
    display: block;
    color: #fff;
}

#info_box_close {
    display: block;
    color: #fff;
    text-indent: 0;
    text-align: center;
    margin-top: 30px;
}

#info_box_close:hover {
    cursor: pointer;
}